# Auto detect text files and perform LF normalization
* text=auto

# ColdFusion files
*.cfc text diff=cpp
*.cfm text diff=html

# Web files
*.html text diff=html
*.css text diff=css
*.js text
*.json text
*.xml text
*.md text

# Image files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary

# Standard to msysgit
*.doc diff=astextplain
*.DOC diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot diff=astextplain
*.DOT diff=astextplain
*.pdf diff=astextplain
*.PDF diff=astextplain
*.rtf diff=astextplain
*.RTF diff=astextplain
